@if (event) {
<div class="event-detail">
    <a class="event-detail_backlink" [routerLink]="['/']">All Events</a>
    <h1>{{ event.title }}</h1>

    <div class="event-detail__image _ibg">
        @if (event.imgUrls && event.imgUrls[0]) {
        <img [src]="event.imgUrls[0]" [alt]="event.title" class="event-detail__avatar">
        } @else {
        <img src="https://picsum.photos/id/158/200/300?blur=1" alt="default event picture" class="event-detail__avatar">
        }
    </div>

    <div class="event-detail__main">
        <p>{{ event.description }}</p>
        <div class="event-detail__location _before-icon">{{event.location}}</div>
        <div class="event-detail__date _before-icon">{{event.date}}</div>
        <div class="event-detail__time _before-icon">{{event.time.slice(0, 5)}} Uhr</div>

        <div class="event-detail__dash">
            <div class="event-detail__members _ibg">
                <img src="/assets/svg/members.svg" alt="icon join">
                <span class="event-detail__members_label">{{participants().length}}</span>
            </div>

            @if (me(); as me) {
            <button class="event-detail__favorite btn-icon _ibg">
                <img src="/assets/svg/favor.svg" alt="icon favorite">
            </button>

            <app-join-button [eventId]="event.id" [userId]="me.id" [username]="me.username"
                [participants]="participants">
            </app-join-button>

            @if (me.id === event.createdBy) {
            <button class="event-detail__edit btn-icon _ibg">
                <img src="/assets/svg/edit.svg" alt="icon edit">
            </button>

            <app-delete-event-button [eventId]="event.id"></app-delete-event-button>
            }
            
            }
        </div>
    </div>
</div>
}