:host {
    display: block;
    
}
.event-detail {
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;


    h1 {
        font-size: 4rem;
        text-align: center;
    }
    &__image {
        width: 100%;
        aspect-ratio: 4/3;
    }

    &__main {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        justify-content: space-between;
        align-items: start;
        padding: 1rem 1.5rem;
        overflow: hidden;
    }


    &__location::before {
        background-image: url('/assets/svg/location.svg'); 
    }
    &__date::before {
        background-image: url('/assets/svg/date.svg');
    }
    &__time::before {
        background-image: url('/assets/svg/time.svg');
    }

    &__dash {
        display: flex;
        gap: 1.6rem;
        align-self: flex-end;
    }

    &__members {
        width: 3rem; 
        aspect-ratio: 1/1;

    }
    &__members_label {
        display: inline-block;
        height: 2rem;
        line-height: 2rem;
        aspect-ratio: 1/1;
        position: absolute;
        left: -.6rem;
        top: -.6rem;
        font-size: 1.3rem;
        text-align: center;
        border-radius: 50%;
        background-color: lawngreen;

    };

    h2:hover,
    .btn-icon:hover img {
        color: var(--col-hover);
    }

    .btn-icon img {
        fill: gold;
    }

}
