<div class="event__menu">
    <button (click)="getPastEvents()" >Show past events:</button>
    <button (click)="getUpcomingEvents()" >Show upcoming events:</button>
    <button (click)="showAllEvents()" >All:</button>
    <button (click)="showCreatedByMe()" *ngIf="authService.isEditor">My:</button>
    <input type="text" (input)="handleInputChange($event)">
</div>

<ul
    class="event__list"
>
    @for (event of eventsFiltered; track event.id) {
        <app-event-card
            [event]=event
            [onDelete]="handleDelete.bind(this)"
            [me]="me"
            ></app-event-card>
    }
</ul>


    <div class="request-result">
        @if (loading()) {
        <app-spinner></app-spinner>
        } @else {
        <app-error [errorMessage]="errorMessage()"></app-error>
        }
    
    </div>

