.event__list{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1.5rem .5rem;

}



@media (min-width: 480px) {
    .event__list {
        padding-inline: 2rem;
        
    }
}

@media (min-width: 1320px) {
    .event__list {
            padding-inline: 0;
            flex-direction: row;
            flex-wrap: wrap;
        }
}