<div class="event__menu">
    
    <input type="text" (input)="handleInputChange($event)">
    <!-- <button class="menu-btn" (click)="getPastEvents()" >Vergangene</button>
    <button class="menu-btn" (click)="getUpcomingEvents()" >Kommende</button> -->
    <button class="menu-btn" (click)="showAllEvents()" >Olle:</button>
    <button class="menu-btn" (click)="showCreatedByMe()" *ngIf="authService.isEditor">Mei:</button>
</div>

<ul
    class="event__list"
>
    @for (event of eventsFiltered; track event.id) {
        <app-event-card
            [event]=event
            [onDelete]="handleDelete.bind(this)"
            [me]="me"
            ></app-event-card>
    }
</ul>


    <div class="request-result">
        @if (loading()) {
        <app-spinner></app-spinner>
        } @else {
        <app-error [errorMessage]="errorMessage()"></app-error>
        }
    
    </div>

