:host {
    display: flex;
    gap: 1rem;

    
    .profile-card {
        &__avatar {
            width: 4.5em;
            aspect-ratio: 1/1;
            border-radius: 50%;
            overflow: hidden;
        }   


        &__main{
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: .8em;
        }

        &__username {
            font-size: 1.2em;
            font-family: title;
            color: var(--col-primary);
            &:hover {
                color: var(--col-hover);
            }
        }

    }
}

