<form
  class="signup-form"
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
>
  <h1>Signup:</h1>

  <label class="em-control-label">
    Username:
    <input formControlName="username" class="em-input" type="text" placeholder="Username" />
  </label>

  <label class="em-control-label">
    Email:
    <input autocomplete="" formControlName="email" class="em-input" type="email" placeholder="Email" />
  </label>

  <label class="em-control-label">
    Password:
    <input formControlName="newPassword" class="em-input" type="password" placeholder="Password" />
  </label>

  <label class="em-control-label">
    Confirm Password:
    <input
        type="password"
        placeholder="Confirm Password"
        class="em-input"
        [class.pass-error]="!isPasswordMatches()"
        (blur)="isPasswordMatches.set(checkIfPasswordMatches())"
        formControlName="confirmPassword"
    />

  </label>

  <label class="em-control-label">
    <input formControlName="isEditor" type="checkbox" />
    <span>Register as an Editor</span>
  </label>

  <button type="submit">Create Account</button>

  <div class="form-result">
    @if (loading()) {
        <app-spinner></app-spinner>
    } @else {
        <app-error [errorMessage]="errorMessage()"></app-error>
    }

</div>

  
</form>

<p>Are you already have an account?</p>
<a [routerLink]="['/login']">Click here to login</a>