<form
  class="signup-form"
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
>
  <h1>Anmeldung:</h1>

  <label class="em-control-label">
    Benutzanåme:
    <input formControlName="username" class="em-input" type="text" placeholder="Benutzanåme" />
  </label>

  <label class="em-control-label">
    Email:
    <input autocomplete="" formControlName="email" class="em-input" type="email" placeholder="Email" />
  </label>

  <label class="em-control-label">
    Passwort:
    <input formControlName="newPassword" class="em-input" type="password" placeholder="Passwort" />
  </label>

  <label class="em-control-label">
    Passwort bestätigen:
    <input
        type="password"
        class="em-input"
        [class.pass-error]="!isPasswordMatches()"
        (blur)="isPasswordMatches.set(checkIfPasswordMatches())"
        formControlName="confirmPassword"
        placeholder="Passwort bestätigen"
    />

  </label>

  <label class="checkbox-label">
    <input formControlName="isEditor" type="checkbox" class="signup-checkbox"/>
    <div>Wü du Events erstö’n?<br/> Melde di ois Event-Manager!</div>
  </label>

  <button type="submit" class="submit-btn">Account Erstellen</button>

  <div class="form-result">
    @if (loading()) {
        <app-spinner></app-spinner>
    } @else {
        <app-error [errorMessage]="errorMessage()"></app-error>
    }

</div>

  
</form>

<p>Host scho an Account?</p>
<a [routerLink]="['/login']" class="btn-styled">Zum Einloggen</a>