
<form class="add-event-form" [formGroup]="form" (ngSubmit)="onSubmit()">

    <h1 class="f-h1">Add new event:</h1>
    
            <label class="em-control-label f-t">
                Title:
                <input formControlName="title" class="em-input" type="text" placeholder="title" />
            </label>
            
            <label class="em-control-label f-cat">
                Category:
                <input formControlName="category" class="em-input" type="text" placeholder="category" required />
            </label>

            
            <label class="em-control-label f-date">
                Date:
                <input formControlName="date" class="em-input" type="date" min="{{ today | date: 'yyyy-MM-dd' }}" required />
            </label>
            
            <label class="em-control-label f-time">
                Time:
                <input formControlName="time" class="em-input" type="time" />
            </label>
            
            <label class="em-control-label f-desc">
                Description:
                <textarea formControlName="description" class="em-input textarea" placeholder="description" required maxlength="255"></textarea>
            </label>
                        
            <label class="em-control-label f-loc">
                Location:
                <input formControlName="location" class="em-input" type="text" placeholder="location" required />
            </label>
                        <button class="submit-btn f-btn" type="submit">Add event</button>




    <div class="form-result f-res">
        <ng-container *ngIf="loading(); else errorTemplate">
            <app-spinner></app-spinner>
        </ng-container>
        <ng-template #errorTemplate>
            <app-error [errorMessage]="errorMessage()"></app-error>
        </ng-template>
    </div>
</form>