
<form class="add-event-form" [formGroup]="form" (ngSubmit)="onSubmit()">

    <h1 class="f-h1">Neues Event hinzufügen:</h1>
    
            <label class="em-control-label f-t">
                Titel:
                <input formControlName="title" class="em-input" type="text" placeholder="Titel" />
            </label>
            
            <label class="em-control-label f-cat">
                Kategorie:
                <input formControlName="category" class="em-input" type="text" placeholder="Kategorie" required />
            </label>

            
            <label class="em-control-label f-date">
                Datum:
                <input formControlName="date" class="em-input" type="date" min="{{ today | date: 'yyyy-MM-dd' }}" required />
            </label>
            
            <label class="em-control-label f-time">
                Zeit:
                <input formControlName="time" class="em-input" type="time" />
            </label>
            
            <label class="em-control-label f-desc">
                Beschreibung:
                <textarea formControlName="description" class="em-input textarea" placeholder="Beschreibung" required maxlength="255"></textarea>
            </label>
                        
            <label class="em-control-label f-loc">
                Ort:
                <input formControlName="location" class="em-input" type="text" placeholder="Ort" required />
            </label>
                        <button class="submit-btn f-btn" type="submit">Event hinzufügen</button>




    <div class="form-result f-res">
        <ng-container *ngIf="loading(); else errorTemplate">
            <app-spinner></app-spinner>
        </ng-container>
        <ng-template #errorTemplate>
            <app-error [errorMessage]="errorMessage()"></app-error>
        </ng-template>
    </div>
</form>