:host {
    display: block;
    height: 100dvh;
    width: 100dvw;
    position: relative;
    border: 1px solid red;
}

.login-container {
    background-color: green;
    opacity: .5;
    position: relative;
    width: 100%;
    height: calc(100dvh);
    border-radius: 25px;
    z-index: 1;
    transition: height 1s;

    &:has(input:checked) {
        height: 175px;
    }
}
.signup-container {
    background-color: burlywood;
    position: absolute;
    padding-top: 20%;
    width: 100%;
    height: 100dvh;
    top: 0;
}
.toogle-container {
    background-color: red;
    opacity: .5;
    border-radius: 50px;
    position: absolute;
    bottom: -25px;
    height: 200px;
    width: 100%;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}