
<div class="login-container">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, quis. Sed, minima deleniti obcaecati quo sunt distinctio amet eos tempore.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, quis. Sed, minima deleniti obcaecati quo sunt distinctio amet eos tempore.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, quis. Sed, minima deleniti obcaecati quo sunt distinctio amet eos tempore.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, quis. Sed, minima deleniti obcaecati quo sunt distinctio amet eos tempore.</p>
    
    <div class="toogle-container">
        <input type="checkbox">
    </div>
</div>
<div class="signup-container">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, quis. Sed, minima deleniti obcaecati quo sunt distinctio amet eos tempore.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, quis. Sed, minima deleniti obcaecati quo sunt distinctio amet eos tempore.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, quis. Sed, minima deleniti obcaecati quo sunt distinctio amet eos tempore.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, quis. Sed, minima deleniti obcaecati quo sunt distinctio amet eos tempore.</p>
</div>
