.event-card {
    box-shadow: 0 0 0 2px var(--col-primary);
    display: flex;

    &__image {
        width: 30vmin;
        aspect-ratio: 1;
        overflow: hidden;
        flex: 0 0 auto;      
        color: black;
        text-align: center;
        font-size: 2rem;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }



    &__main {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        padding: 1rem 1.5rem;
        overflow: hidden;
    }

    &__title {
        font-size: 2rem;
        font-family: title;
        text-wrap: nowrap;

    }

    &__location::before {
        background-image: url('/assets/svg/location.svg'); 
    }
    &__time::before {
        background-image: url('/assets/svg/time.svg');
    }

    &__dash {
        display: flex;
        gap: 1.6rem;
        align-self: flex-end;
    }

    &__members {
        width: 3rem; 
        aspect-ratio: 1/1;

    }
    &__members_label {
        display: inline-block;
        height: 2rem;
        line-height: 2rem;
        aspect-ratio: 1/1;
        position: absolute;
        left: -.6rem;
        top: -.6rem;
        font-size: 1.3rem;
        text-align: center;
        border-radius: 50%;
        background-color: lawngreen;

    };

    h2:hover,
    .btn-icon:hover img {
        color: var(--col-hover);
    }

    .btn-icon img {
        fill: gold;
    }

}
