.event-card {
    box-shadow: 0 0 0 2px var(--col-primary);
    display: flex;
    gap: 2rem;
    cursor: pointer;

    &:hover {
        background-color: wheat;
    }

    &__image {
        width: 30vmin;
        aspect-ratio: 1;
        overflow: hidden;
        flex: 0 0 auto;      
        color: black;
        text-align: center;
        font-size: 2rem;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__main {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-block: 1rem;
        overflow: hidden;
    }

    &__title {
        font-size: 2rem;
        font-family: title;
        text-wrap: nowrap;
    }

    &__location,
    &__time {
        position: relative; 
        padding-left: 2.5rem;

        &::before {
            content: '';
            display: inline-block;
            width: 2rem;
            height: 2rem;
            background-size: contain;
            background-repeat: no-repeat;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            
        }
    }

    &__location::before {
        background-image: url('/assets/svg/location.svg'); 
    }
    &__time::before {
        background-image: url('/assets/svg/time.svg');
    }

    &__hidden {
        flex-basis: 100%;
        display: none;
    }
}

.event-card.active {
    flex-wrap: wrap;
    pointer-events: all;

    .event-card__image {
        flex-basis: 100%;
        aspect-ratio: 3/2;
    }

    .event-card__hidden {
        display: block;
    }
}