@if (event) {
    <li class="event-card">

        <a [routerLink]="['/events', event.id]" class="event-card__image _ibg">
            @if (event.imgUrls && event.imgUrls[0]) {
                <img
                [src]="event.imgUrls[0]"
                [alt]="event.title"
                class="event-card__avatar">
            } @else {
                <img
                src="https://picsum.photos/id/158/200/300?blur=1"
                alt="default event picture"
                class="event-card__avatar">
            }
        </a>
        <div class="event-card__main">
            <a [routerLink]="['/events', event.id]">
                <h2 class="event-card__title">{{event.title}}</h2>
            </a>
            <div class="event-card__location _before-icon">{{event.location}}</div>
            <div class="event-card__date _before-icon">{{event.date}}</div>
            <div class="event-card__time _before-icon">{{event.time.slice(0, 5)}} Uhr</div>

            <div class="event-card__dash">

                <div class="event-card__members _ibg">
                    <img src="/assets/svg/members.svg" alt="icon join">
                    <span class="event-card__members_label">9</span>
                </div>

                @if (me(); as me) {

                    <button class="event-card__favorite btn-icon _ibg">
                        <img src="/assets/svg/favor.svg" alt="icon favorite">
                    </button>

                    <button class="event-card__join btn-icon _ibg" (click)="registerForEvent(me.id, event.id)">
                        <img src="/assets/svg/join.svg" alt="icon join">
                    </button>

                    @if (me.email === event.createdBy) {
                        <button class="event-card__edit btn-icon _ibg">
                            <img src="/assets/svg/edit.svg" alt="icon edit">
                        </button>
                        <button class="event-card__del btn-icon _ibg" (click)="deleteEvent()">
                            <img src="/assets/svg/bin.svg" alt="icon delete">
                        </button>
                    }
                }
            </div>        
        </div>
    </li>
}
