:host {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-styled {
    font-size: 1.5rem;
    padding: 1rem 2rem;
    max-width: max-content;
    display: inline-block;
}

.password-input {
    position: relative;

    .password-eye-btn {
        position: absolute;
        right: 0;
        bottom: 0;
        background: none;
        border: none;
        color: black;
        cursor: pointer;
    }

    .password-eye-btn.active,
    .password-eye-btn:hover {
        color: var(--col-primary);
    }
}