:host {
    display: flex;
}

.header {                        
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    overflow: hidden;
    box-shadow: 1px 2px 6px black;
    transition: top .3s ease;

    &.active {
        top: -100%;
        }

    &__me {
        padding: 1rem;
    } 

    &__nav {
        display: flex;
        flex-direction: column;
        padding: 3rem 1rem;
        gap: 1rem;
    
    &_link,
    &_btn {
            font-family: title;
            font-size: 1.5rem;
            height: 5rem;
            line-height: 5rem;
            padding-inline: 1rem;
            text-decoration: none;
            text-align: center;
            box-shadow: inset 0 0 0 1px var(--col-dark);
            color: var(--col-dark);
        }
    }

    &__burger {
        position: fixed;
        top: 2rem;
        right: 2rem;
        width: 5rem;
        height: 5rem;
        line-height: 4rem;
        font-size: 2rem;
        text-align: center;
        border-radius: 50%;
        box-shadow: 1px 2px 6px rgba($color: #000, $alpha: .5);
        backdrop-filter: blur(5px);
        z-index: 10;
        

        .active {
            display: none;
        }
    }

    app-profile-header {

    }

}



