
<header class="header" [class.active]="isActive">

    <app-logo fontSize="3rem" url="/"></app-logo>

    <div class="header__me">
        @if (me(); as profile) {
            <app-profile-header [profile]=profile></app-profile-header>
        }
    </div>

    <nav class="header__nav">
 
        <!-- <a class="header__nav_link" [routerLink]="['/me']">Mein Profil</a> -->

        <a class="header__nav_link" [routerLink]="['/events/add']" *ngIf="authService.isEditor">Neues Event hinzufügn</a>
        
        <a class="header__nav_link" [routerLink]="['/users']" *ngIf="authService.isAdmin">All Benutzer</a>

        <!-- <a class="header__nav_link" href="/#">Über uns:</a>

        <a class="header__nav_link" href="/#">Kontakt:</a>

        <a class="header__nav_link" href="/#">Impressum</a> -->


        
        <button class="header__nav_btn" *ngIf="authService.isAuth" (click)="logout()">Logout</button>

    </nav>


        <button class="header__burger btn-icon _ibg" (click)="toggleActive()">
            <img src="/assets/svg/menu.svg" alt="icon menu" [class.active]="isActive">
            <img src="/assets/svg/close.svg" alt="icon menu" [class.active]="!isActive">
        </button>



    
</header>
