@font-face {
    font-display: swap;
    font-family: 'title';
    font-style: normal;
    font-weight: 400;
    src: url('../public/assets/fonts/anta-v1-latin-regular.woff2') format('woff2'); 
}

:root {
    --col-black: black;
    --col-dark : #721c24;
    --col-light: #f8d7da;
    --col-primary: darkred;
    --col-error: red;
    font-size: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html, body {
    height: 100dvh;
    width: 100dvw;
    background-color: var(--col-light);
    color: var(--col-black);
}

body {
    margin: 0;
}

h1 {
    font-family: title;
    color: var(--col-dark);
    font-size: 3rem;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


form {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    justify-content: center;
    padding-block: 2rem;
    .form-result {
        height: 5rem;
        display: flex;
    }
}

.em-control-label {
    .em-input {
        display: block;
        margin-top: .5rem;
        padding: .6rem;
    }
}


main {
    flex: 1 1 auto;
    overflow-y: scroll;
}

header, footer {
    background: darkred;
}

h1, h2, h3 {
    margin: 0;
}